{% extends 'themes/base_admin.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block description %}Accédez à votre espace administrateur sécurisé pour gérer efficacement vos contenus, utilisateurs et paramètres.{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Bienvenue {{app.user.firstName}} {{app.user.lastName}}</h1>

    <div class="container my-5">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark text-center">Toute les catégories</div>
                    <div class="card-body text-dark">
                        <p class="card-text text-center">{{categories_count}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-dark text-center">
                        <a class="btn btn-small btn-dark" href="{{path('app_admin_category_index')}}">Consulter</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark text-center">Tous les articles</div>
                    <div class="card-body text-dark">
                        <p class="card-text text-center">{{posts_count}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-dark text-center">
                        <a class="btn btn-small btn-dark" href="{{path('app_admin_post_index')}}">Consulter</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark text-center">Tous les tags</div>
                    <div class="card-body text-dark">
                        <p class="card-text text-center">{{tags_count}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-dark text-center">
                        <a class="btn btn-small btn-dark" href="{{path('app_admin_tag_index')}}">Consulter</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark text-center">Tous les commentaires</div>
                    <div class="card-body text-dark">
                        <p class="card-text text-center">{{comments_count}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-dark text-center">
                        <a class="btn btn-small btn-dark" href="{{path('app_admin_comment_index')}}">Consulter</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark text-center">Tous les utilisateurs</div>
                    <div class="card-body text-dark">
                        <p class="card-text text-center">{{users_count}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-dark text-center">
                        <a class="btn btn-small btn-dark" href="{{path('app_admin_user_index')}}">Consulter</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark text-center">Tous les contacts</div>
                    <div class="card-body text-dark">
                        <p class="card-text text-center">{{contacts_count}}</p>
                    </div>
                    <div class="card-footer bg-transparent border-dark text-center">
                        <a class="btn btn-small btn-dark" href="{{path('app_admin_contact_index')}}">Consulter</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4">
                <div class="card border-dark mb-3">
                    <div class="card-header bg-transparent border-dark text-center">Tous les likes</div>
                    <div class="card-body text-dark">
                        <p class="card-text text-center">{{likes_count}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}