{% extends 'themes/base_user.html.twig' %}

{% block title %}Modifier le mot de passe{% endblock %}

{% block description %}Modifiez facilement votre mot de passe. Gérez vos informations plus efficacement dès maintenant.{% endblock %}

{% block keywords %}changer mot de passe, modification mot de passe, sécurité compte, mise à jour mot de passe, réinitialisation mot de passe, mot de passe sécurisé, gestion compte, protection profil, confidentialité, paramètres utilisateur, sécurité profil, renouveler mot de passe{% endblock %}

{% block main %}
    <div class="text-center my-4">
        <h1 class="text-danger display-5 fw-bold fst-italic">MODIFIER MON MOT DE PASSE</h1>
        <h4 class="text-primary">Changez votre mot de passe à tout moment, autant de fois que vous le souhaitez !</h4>
    </div>

    <div class="container mt-5">
        <div class="row">

            {# image #}
            <div class="col-lg-6 text-center d-flex flex-column justify-content-center align-items-center">
                <img src="/images/static/user/dreams.png" class="img-fluid border border-5 border-primary shadow" alt="Slogan - Dreams don't stop">
            </div>

            {# Form #}
            <div class="col-lg-5 shadow py-3">
                {{ form_start(form) }}
                    <div class="mb-3">
                        <label for="edit_password_form_currentPassword">Mot de passe actuel</label>
                        <div class="text-danger">{{ form_errors(form.currentPassword) }}</div>
                        {{ form_widget(form.currentPassword, {'attr': {'class':'form-control my-3', 'autofocus':'autofocus'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="edit_password_form_plainPassword_first">Nouveau mot de passe</label>
                        <div class="text-danger">{{ form_errors(form.plainPassword.first) }}</div>
                        {{ form_widget(form.plainPassword.first, {'attr': {'class':'form-control my-3', 'placeholder':'Au moins 12 caractères.'}}) }}
                    </div>
                    <div class="mb-3">
                        <label for="edit_password_form_plainPassword_second">Confirmez le nouveau mot de passe</label>
                        <div class="text-danger">{{ form_errors(form.plainPassword.second) }}</div>
                        {{ form_widget(form.plainPassword.second, {'attr': {'class':'form-control my-3'}}) }}
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-dark w-100 rounded-pill shadow">
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}