{% extends 'themes/base_visitor.html.twig' %}

{% block title %}Me contacter{% endblock %}

{% block description %}Contactez-moi facilement pour toute question, demande de collaboration ou information. Je suis à votre écoute et répondrai rapidement à vos messages.{% endblock %}

{% block keywords %}"contact, contactez-moi, formulaire de contact, prise de contact, demande d'information, question, message, email"{% endblock %}

{% block fontAwesome %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block main %}

    {% include 'components/welcomeTitle.twig' with {"h1" : "ME CONTACTER"} %}


    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6 mx-auto">

                {% include 'components/alert.html.twig' with {"addMarginTop": "mt-3"} %}

                {{ form_start(form) }}
                    <div class="row">
                        <div class="col-lg-6 mb-3">
                            <label for="visitor_contact_form_firstName" class="mb-3">Prénom <span class="text-danger">*</span></label>
                            <div class="text-danger">{{ form_errors(form.firstName) }}</div>
                            {{ form_widget(form.firstName, {'attr' : {'class': 'form-control', 'autofocus':'autofocus'}}) }}
                        </div>
                        <div class="col-lg-6 mb-3">
                            <label for="visitor_contact_form_lastName" class="mb-3">Nom <span class="text-danger">*</span></label>
                            <div class="text-danger">{{ form_errors(form.lastName) }}</div>
                            {{ form_widget(form.lastName, {'attr' : {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="visitor_contact_form_email" class="mb-3">Email <span class="text-danger">*</span></label>
                            <div class="text-danger">{{ form_errors(form.email) }}</div>
                            {{ form_widget(form.email, {'attr' : {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="visitor_contact_form_message" class="mb-3">Message <span class="text-danger">*</span></label>
                            <div class="text-danger">{{ form_errors(form.message) }}</div>
                            {{ form_widget(form.message, {'attr' : {'class': 'form-control', 'rows':8}}) }}
                        </div>
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-primary shadow w-100">
                    </div>
                {{ form_end(form) }}
            </div>
            <div class="col-lg-6 d-flex justify-content-center align-items-center my-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5251.758974086521!2d2.2504754758011667!3d48.84143737132983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e67ac09948a18d%3A0xdd2450406cef2c5c!2sParc%20des%20Princes!5e0!3m2!1sfr!2sfr!4v1749546236318!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-6 my-3">
                <a href="mailto:example@gmail.com" class="btn btn-primary w-50">
                    <i class="fa-solid fa-envelope text-danger"></i> : {{setting.email}}
                </a>
            </div>
            <div class="col-md-6 my-3">
                <a href="tel:0700000000" class="btn btn-primary w-50">
                    <i class="fa-solid fa-phone-volume text-danger"></i> : {{setting.phone}}
                </a>
            </div>
        </div>
    </div>

{% endblock %}