{% extends 'themes/base_visitor.html.twig' %}

{% block title %}{{post.title}}{% endblock %}

{% block description %}{{post.description}}{% endblock %}

{% block keywords %}blog, article de blog, actualité, publication, contenu original, rédaction web, catégorie, tag, résumé article, lecture article, commentaire, date de publication, tendances{% endblock %}

{% block fontAwesome %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
{% endblock %}

{% block main %}
    <div class="container mt-5">
        <div class="container-img text-center">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{{path('app_visitor_news')}}">Liste des articles</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{post.title|u.truncate('60', '...')}}</li>
                </ol>
            </nav>

            <div>
                {% if post.image %}
                    <img src="{{vich_uploader_asset(post, 'imageFile') }}" class="img-fluid rounded-start w-100 h-100" alt="{{post.title}}">
                {% endif %}
            </div>

            <div class="text-center my-3">
                <h1>{{post.title}}</h1>
                <small>Publié {{post.publishedAt|ago}} par <strong>Luis Enrique</strong></small>
            </div>
        </div>

        <div class="container-post my-5">
            {{post.content|nl2br}}

            <div class="my-4">
                <a id="like-link" href="{{path('app_visitor_news_post_like', {'id':post.id, 'slug':post.slug})}}">
                    {% if app.user and post.isLikedBy(app.user) %}
                        <i class="fa-solid fa-thumbs-up"></i>
                    {% else %}
                        <i class="fa-regular fa-thumbs-up"></i>
                    {% endif %}
                </a>
                <span id="total-likes-container">{{post.likes|length}}</span>
                <span>J'aime</span>
            </div>

            
            {% if app.user %}
                {# Form #}
                {{ form_start(form, {'action': path('app_visitor_news_post_show', {'id':post.id, 'slug':post.slug})~'#comments-container'}) }}
                <div class="mb-3">
                    <label for="comment_form_content">Laissez un commentaire</label>
                    <div class="text-danger">{{ form_errors(form.content) }}</div>
                    {{ form_widget(form.content, {'attr': {'class':'form-control'}}) }}
                </div>
                <div>
                    <input type="submit" class="btn btn-primary shadow">
                </div>
                {{ form_end(form) }}
            {% else %}
            <div class="text-center my-5">
                <p><strong>Connectez-vous pour donner votre avis.</strong></p>
                <a href="{{path('app_login')}}" class="btn btn-primary w-75">Se connecter</a>
                <p class="mt-1">ou</p>
                <a href="{{path('app_register')}}" class="btn btn-primary w-75">S'inscrire</a>
            {% endif %}

            {% if post.comments|length > 0 %}
                <div id="comments-container" class="my-5">
                    {% for comment in post.comments|reverse %}
                        {% if comment.isActivated %}
                            <div>
                                <div class="shadow p-4">
                                    <p>
                                        <strong>{{comment.user.firstName}} {{comment.user.lastName}}</strong>
                                    </p>
                                    <p>
                                        <small>{{comment.activatedAt ? comment.activatedAt|ago : ''}}</small>
                                    </p>
                                    <hr>
                                    <p>{{comment.content|nl2br}}</p>
                                </div>
                            </div>
                        {% endif %}
                        <hr class="my-3 text-danger">
                    {% endfor %}
                </div>
            {% endif %}

            </div>
            
        </div>

    </div>
{% endblock %}

{% block j_query %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
{% endblock %}

{% block specific_js %}
<script>
    $(document).ready(function(){
        $('#like-link').on('click', function(event){
            event.preventDefault();

            $.ajax({
                url: this.href,
                type: 'GET',
                success: function(response) {
                    // console.log(response);
                    $("#total-likes-container").html(response.totalLikesUpdated);

                    if ( $('i').hasClass('fa-regular') )
                    {
                        $('i').removeClass('fa-regular');
                        $('i').addClass('fa-solid');
                    }
                    else
                    {
                        $('i').removeClass('fa-solid');
                        $('i').addClass('fa-regular');
                    }

                },
                error: function(response) {
                    // console.log(response);
                    if( response.status == 403 )
                    {
                        alert(response.responseJSON.message);
                    }
                    else
                    {
                        alert('Une erreur est survenue, veuillez réessayer');
                    }
                },
            });
        });
    });
</script>
{% endblock %}