<!DOCTYPE html>
<html>
    <head>
        {# Encodage standard des caractères pour le web #}
        <meta charset="UTF-8">

        {# Minimum de Responsive Design à toujours mettre en place #}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        {# La description de la page #}
        <meta name="description" content="{% block description %}{% endblock %}">

        {# Les mots clés de la page #}
        <meta name="keywords" content="{% block keywords %}{% endblock %}">

        {# SEO - Autorisation aux robots des moteurs de recherche d'indexer et de suivre la page#}
        <meta name="robots" content="index, follow">

        <meta name="author" content="Luis Enrique">
        <meta name="publisher" content="Luis Enrique">

        <title>{% block title %}{% endblock %} | UltraPSG</title>

        {# Google font #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        {# Favicon #}
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="manifest" href="/site.webmanifest" />

        {# Bootstrap v5 CSS #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {# Bootstrap v5 js #}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
        
    </head>
    <body class="body-visitor bg-light">
    
        {# Navbar #}
        <nav class="navbar navbar-expand-lg bg-white shadow-lg rounded-4 px-3 py-3 mb-4">
            <div class="container-fluid">
                <a class="navbar-brand fw-bold fst-italic text-danger d-flex align-items-center gap-2" href="{{ path('app_visitor_welcome') }}">
                <img width="48" class="rounded-circle shadow-sm" src="/images/static/visitor/logo-ultra-psg.png" alt="Représentation du Paris saint-Germain avec les trois lettres P S G">
                <span class="d-none d-md-inline fw-bold">Ultra PSG</span>
                </a>
                <button class="navbar-toggler border-0 shadow-none" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse rounded-4" id="navbarNav">
                <ul class="navbar-nav ms-4 gap-lg-2 gap-1">
                    <li class="nav-item">
                    <a class="nav-link px-3 fw-semibold rounded-pill text-secondary" href="{{ path('app_visitor_welcome') }}">
                        Accueil
                    </a>
                    </li>

                    {% set accueilPath = path('app_visitor_welcome') %}
                    {% set hrefLink = accueilPath ~ '#about-me' %}
                    <li class="nav-item">
                        <a class="nav-link px-3 fw-semibold rounded-pill text-secondary" href="{{ hrefLink }}">
                            À Propos
                        </a>
                    </li>

                    <li class="nav-item">
                    <a class="nav-link px-3 fw-semibold rounded-pill text-secondary" href="{{ path('app_visitor_news') }}">
                        News
                    </a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link px-3 fw-semibold rounded-pill text-secondary" href="{{ path('app_visitor_contact_create') }}">
                        Contact
                    </a>
                    </li>
                </ul>
                <!-- Slots vides à droite pour garder la structure si besoin -->
                </div>
            </div>
        </nav>


        {# Main #}
        <main>
            {% block main %}{% endblock %}
        </main>

        {# Footer #}
        <footer class="bg-primary text-white py-4">
            <div class="container">
                <div class="row align-items-center">
                
                <div class="col-12 col-md-3 mb-3 mb-md-0 text-center text-md-start">
                    <img src="/images/static/visitor/logo-ultra-psg.png"
                        alt="Logo du site ultra psg"
                        class="rounded-circle"
                        width="60"
                        height="60">
                </div>
                
                <div class="col-12 col-md-6 mb-3 mb-md-0">
                    <ul class="nav justify-content-center">
                    <li class="nav-item">
                        <a href="{{path('app_visitor_welcome')}}" class="nav-link text-white px-3">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('app_visitor_news')}}" class="nav-link text-white px-3">News</a>
                    </li>
                    <li class="nav-item">
                        <a href="{{path('app_visitor_contact_create')}}" class="nav-link text-white px-3">Contact</a>
                    </li>
                    </ul>
                </div>
                
                <div class="col-12 col-md-3 text-center text-md-end small">
                    <div class="mb-2">
                    
                    <a href="#" class="text-white mx-1">
                        <img src="/images/static/visitor/snapchat.png" alt="logo snapchat">
                    </a>
                    <a href="#" class="text-white mx-1">
                        <img src="/images/static/visitor/instagram.png" alt="logo instagram">
                    </a>
                    <a href="#" class="text-white mx-1">
                        <img src="/images/static/visitor/twitter.png" alt="logo twitter">
                    </a>
                    </div>
                    © 2025 UltraPSG
                </div>
                </div>
            </div>
        </footer>
    </body>
</html>
